/* In background.css */
body {
  background-color: #0F0F0F;
  color: #FDFFFF;
}

a:link {  /* Unvisited links */
  color: #cc3d21;  /* Set color for unvisited links */
}

a:visited {  /* Visited links */
  color: #545cf0;  /* Set color for visited links */
}


body {
  font-size: 1.5em;  /* Adjust the value (e.g., 1.5em for larger) */
}
